{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam veniam, voluptatem? A aliquid asperiores autem est, iste itaque perspiciatis repellat ullam voluptatibus!
    A aliquid, dignissimos in magnam optio perspiciatis placeat quo quos suscipit voluptates. Enim esse minus praesentium quia! Ea.
    <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium debitis doloremque eum facilis incidunt ipsum iste libero magni nemo placeat, quaerat soluta suscipit.
    Ab aspernatur atque aut consequuntur debitis ex inventore mollitia nisi, porro possimus quam quo temporibus tenetur vel.
</p>

{% endblock %}
